# Environment variables

# NODE ENV ########################
NODE_ENV='production'

# APP VARS ########################
APP_SECRET='supersecretstring'
PORT=3000

# FRONT END VARS ########################
# URL do front-end para redirecionamento
# "http://<fe-host>:<fe-porta>"
FE_URL='http://localhost:3333'

# PRISMA VARS ########################
# DATABASE_URL="postgresql://<seu-usuario>:<sua-senha>@<seu-host>:<sua-porta>/<nome-do-banco-de-dados>?schema=public"
DATABASE_URL="postgresql://<seu-usuario>:<sua-senha>@<seu-host>:<sua-porta>/<nome-do-banco-de-dados>"

# JWT VARS ########################
# chave secreta JWT
JWT_SECRET='senha-secreta-do-jwt'
# Número de minutos após o qual um token de acesso expira
JWT_ACCESS_EXPIRATION_MINUTES=30
# O token de 'Atualização' expira após o número de dias definidos nessa variável.
JWT_REFRESH_EXPIRATION_DAYS=1
# Número de minutos após o qual um token de redefinição de senha expira
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Número de minutos após o qual um token de email de verificação expira
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# SMTP VARS ########################
# Configuração SMTP para o serviço de email
# Para testar utilize um serviço SMTP fake SMTP
# como o  Ethereal: https://ethereal.email/create
SMTP_HOST=email-server
SMTP_PORT=587
SMTP_USERNAME=email-server-username
SMTP_PASSWORD=email-server-password
EMAIL_FROM=support@yourapp.com

# AWS Credentials  ########################
AWS_REGION=<'região da AWS'>
AWS_ACCESS_KEY_ID=<'chave de acesso da AWS'>
AWS_SECRET_ACCESS_KEY=<'senha da chave de acesso da AWS'>
